---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

My research focuses on developing computationally efficient methods to identify greenhouse gas (GHG) emission sources using machine learning. I am currently working on using machine learning to compute atmospheric transport in GHG flux estimation using Bayesian inference. I am also interested in detecting methane plumes (e.g. oil/gas basins) from space using Landsat 4 to 9 and Sentinel-2 satellites. Here are some of the projects that I have been working on:

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

