---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}
<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container 75%">
					<!-- <header class="major special">
						<h2>Publications & Presentations</h2>
					</header>
					
					<h2>Publications </h2> -->
					<section>
										<h3>2025</h3>
										<li class="bib-item">
										<b>Dadheech, N.</b> and Turner, A. J. (2026). Simulating out-of-sample atmospheric transport to enable flux inversions. Atmospheric Chemistry & Physics, 26(1), 427-441.
										<a target="'_blank'" href="../files/dadheech&turner2026.pdf">
												<b> PDF </b>
											</a><br>
										
										<li class="bib-item">
										<b>Dadheech, N.</b>*, He, T. L.*, & Turner, A. J. (2025). High-resolution greenhouse gas flux inversions using a machine learning surrogate model for atmospheric transport. Atmospheric Chemistry & Physics, 25, 5159–5174.* equally contributed authors.
										<a target="'_blank'" href="../files/DadheechEtAl2025.pdf">
												<b> PDF </b>
											</a><br>

										<br><li class="bib-item">
											<b>Dadheech, N.</b>*, He, T. L.*, Thompson, T. M., & Turner, A. J. (2025). FootNet v1. 0: development of a machine learning emulator of atmospheric transport. Geoscientific Model Development, 18(5), 1661-1671. * equally contributed authors.
										<a target="'_blank'" href="../files/HeEtAl2025.pdf">
											<b> PDF </b><br>
											</a><br>
										
										<h3>2024</h3>
										<li class="bib-item">
											Hamilton, S.D., Wu D., Johnson M.S., Turner A.J., Fischer M.L., <b>Dadheech N.</b>, and Jeong S. (2024). Estimating carbon dioxide emissions in two California cities using Bayesian inversion and satellite measurements.
											<a target="'_blank'" href="../files/HamiltonEtAl2024.pdf">
											<b> PDF </b><br>
											</a><br>

					
				
										<h3>2021</h3>
										<li class="bib-item">
										Shukla, K., <b>Dadheech, N.</b>, Kumar, P., & Khare, M. (2021). Regression-based flexible models for photochemical air pollutants in the national capital territory of megacity Delhi. Chemosphere, 272, 129611.
										<a target="'_blank'" href="../files/shuklaEtAl2021.pdf">
											<b> PDF </b><br>
											</a>

			</div>
		</section>

<!-- {% include base_path %} -->

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



