---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}
<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container 75%">
					<!-- <header class="major special">
						<h2>Publications & Presentations</h2>
					</header>
					
					<h2>Publications </h2> -->
					<section>
										<h3>2024</h3>
										<p><b>Dadheech, N.</b>, He, T. L., & Turner, A. J. (2024). High-resolution greenhouse gas flux inversions using a machine learning surrogate model for atmospheric transport. EGUsphere, 2024, 1-21. <i>ACP; in review</i></p>
										<a target="'_blank'" href="../files/footnet_v4.pdf">
												<b> Download PDF </b>
											</a>

										<p>He T., <b>Dadheech, N.</b>, Turner A., (2023). Development of a deep learning emulator of source-receptor footprints for computationally efficient flux inversions. In prep</p>

					
				
										<h3>2021</h3>
										<p>Shukla, K., <b>Dadheech, N.</b>, Kumar, P., & Khare, M. (2021). Regression-based flexible models for photochemical air pollutants in the national capital territory of megacity Delhi. Chemosphere, 272, 129611.</p>

					
				
			
				<h2>Presentations</h2>
					
					

					<section>
										
										<p>Estimating greenhouse gases emissions by emulating atmospheric transport using machine learning. Invited presentation at the NASA Jet Propulsion Laboratory (JPL) Carbon Club seminar, remote. April 20, 2023</p>
										<p>Development of a deep learning emulator of source-receptor footprints for computationally efficient flux inversions. Poster at the 2022 American Geophysical Union (AGU) Fall meeting, Chicago, IL</p>
										

					
				
										

					
				
			</section>
			</div>
		</section>

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



